* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.page {
  max-width: 384px;
  margin: 0 auto;
}

header {
  background: #8E9AAF;
  text-align: center;
  position: relative;
}

header img {
  padding: 3.2rem;
  margin-bottom: 60px;
  animation: rotate 1s 200ms ease-in backwards;
}


header h1 {
  font-family: 'Staatliches';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 34px;
  /* identical to box height, or 85% */

  letter-spacing: 0.05em;

  color: #FFFFFF;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background: #CBC0D3;
  padding: 8px;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px;
  background: #EFF1FF;
  gap: 36px;
}

.container p {
  font-family: 'Palanquin';
  font-size: 16px;
  line-height: 20px;

  align-items: center;
  text-align: center;

  color: #23053A;
  margin-bottom: 36px;
}

.card {
  position: relative;
  /*  animation: downtop;
  animation-duration: 1s;
  transition: all 0.7s ease-out; */
}

.card img {
  width: 100%;
  animation: downtop 1s ease ;
}


.card p {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 16px;
  font-family: 'Staatliches', cursive;
  color: #4A4E69;
  background: #FEEAFA;
  border-radius: 20px;
  padding: 5px 23px;

  animation: topdown 1s 500ms ease backwards;
}

@keyframes topdown {
  0% {
    top: -20px;
    opacity: 0;
  }

  100% {
    top: 16px;
    opacity: 1;
  }
}

@keyframes downtop {
  0% {
    transform: translateY(50px);
    opacity: 0;

  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(15deg);
    opacity: 0;
    transform-origin: 0 0;

  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
    transform-origin: center center;
  }

}